# Copyright 2024-2025 NetCracker Technology Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

root = true

[{*,.*}]
charset = utf-8
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.sh]
end_of_line = lf

[{*.bat,*.cmd}]
end_of_line = crlf

[*.go]
# gofmt defaults to LF for all the platforms: https://github.com/golang/go/issues/16355
end_of_line = lf

[*.md]
# Trailing whitespace is important in Markdown (they distinguish a new line from a new paragraph)
eclint_indent_style = unset
trim_trailing_whitespace = false

[{go.mod,go.sum,*.go,.gitmodules}]
indent_size = 4
indent_style = tab

[Dockerfile]
indent_size = 4

[*.py]
profile = black

[*.sh]
indent_size = 4
